{% extends 'index.html' %}
{% load static %}
{% block pics %} {% endblock %}
{% block title %} <title>Contact</title> {% endblock %}
{% block content %}
<hr>
<div class="jumbotron">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
          <h1 class="h1">Bizimlə əlaqə</h1>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form method="post">
                  {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Adınız </label>
                            <input name="name" type="text" class="form-control" id="name" placeholder="" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Elektron poctunuz </label>
                            <div class="input-group">
                                <input name="email" type="email" class="form-control" id="email" placeholder="" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Başlıq</label>
                            <input name="subject" type="subject" class="form-control" id="subject" placeholder="" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                İsmarıc </label>
                            <textarea name="message" id="message" class="form-control" rows="10" cols="25" required="required"
                                placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="btnContactUs" style="margin-left:645px;">
                            Göndər</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>
{% endblock %}
