{% extends 'index.html'%}
{% load static %}

{% block title %} <title>Post {{price.title}}</title> {% endblock %}
{% block content %}

<!-- Page Content -->
  <div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{price.title}}</h1>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="/media/{{ price.post_image }}" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Ümumi məlumat</h3>
        <p>
          {{price.description}}
        </p>
        <h3 class="my-3">Detalları</h3>
        <ul>
          <li>Qiymət: {{price.price}} &#8380;</li>
          <li>Made in: {{price.madein}}</li>
          <li>Əlavə olundu: {{price.time|date:"F d, Y" }}</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- /.row -->
  <hr>
 {% endblock %}
